button.addButton{
    background: #f58733;
    margin-top: 100px;
    margin-bottom: 100px;
}

.saveButton {
    text-align: center;
    margin:auto;
    display: flex;
    background-color: #364fd3;
    border-radius:19px;
    border:1px solid #0f6fce;
    cursor:pointer;
    color: antiquewhite;
    padding:6px 17px;
}
.saveButton:hover {
    background-color: #549fff;
}
.saveButton:active {
    position:relative;
    top:1px;
}

.modal-content{
    height: 600px;
    width: 400px;
    max-width: 500px;
}
.reactTable{
    text-align: center !important;
    width: 1200px !important;
    margin:auto !important;
    display:flex !important;
    top:50px;
}

.reactTableDevice{
    text-align: center !important;
    width: 450px !important;
    margin:auto !important;
    display:flex !important;
    height: 475px !important;
}

.sensorModal{
    height: 1000px !important;
}

.modal-dialog{
    height: 1000px !important;
}

.buttonStack{
    margin-top:25px;
}